*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: #fcfdff;
    color: #424242;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 { color: #000; }
button, input, textarea { font: inherit; }

main {
    max-width: 500px;
    margin: 70px auto;
}

input {
    width: 100%;
    padding: 10px 15px;
    border: 1.5px solid #424242;
    border-radius: 3px;
    box-shadow: 4px 4px 0 0 #747474;
    font-family: 'JetBrains Mono', monospace;
}

input:focus {
    box-shadow: none;
    outline: none;
}

pre {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: 1.5px solid #747474;
    border-radius: 5px;
    background-color: #fff;
    overflow: auto;
}
